<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="nanodegree.nemesisdev.com.spotifystreamer" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Activities.Activity_Main"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.Activity_Top10Tracks"
            android:label="@string/title_activity_top10_tracks"
            android:parentActivityName=".Activities.Activity_Main" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activities.Activity_Main" />
        </activity>
        <activity
            android:name=".Activities.Activity_Spotify_Streamer"
            android:label="@string/title_activity_spotify__streamer"
            android:parentActivityName=".Activities.Activity_Top10Tracks" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activities.Activity_Top10Tracks" />
        </activity>

        <service android:name=".Services.SpotifyStreamerService">

        </service>
    </application>


    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

</manifest>
